img {
    display: block;
    margin: auto;
}

li a {
    text-decoration: none;
    /* color: #000000; */
}

.btn {
    background-color: #3493eb;
    color: #ffffff;
    padding: 1px 6px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 25px 40px 40px 25px;
}
